/* your styles go here */

.col-border{
  border-color: grey;
    border-left-color: transparent;
    border-top-color: transparent;
    border-style: dashed;
    border-bottom: transparent;
}

.education{
  font-size: 14px;
  color: black;
}

.education .row{
  padding: 3px;
}

.edu-bg{
  background-color: rgba(153, 153, 153, 0.42);
  text-align: center;
  border-radius: 3px;
}
